.movie-search{
    width: 93%;
    margin: 35px 0 0 33px;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    text-indent: 12px;
}
@media (max-width:974px){
    .movie-search{
        margin: auto 20px;
    }
}